In [1]:
import sys
sys.path.append('src')

from data.data_loader import DataLoader
from features.feature_engineering import FeatureEngineering
from models.model_evaluator import ModelEvaluator

import pandas as pd
import numpy as np
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

## 1. 数据加载

加载Excel数据并划分训练集和测试集。

In [2]:
# 初始化数据加载器
file_path = r"E:\博士\1-课题\0-固废产生的研究\2-数据整理结果\1-MSW_CW_IW_HIW_training_data.xlsx"
data_loader = DataLoader(file_path)

# 加载数据
df = data_loader.load_data(
    sheet_name='msw_result',
    target_column='MSW',
    feature_columns=['Population', 'GDP PPP 2017', 'GDP PPP/capita 2017']
)

In [3]:
# 划分国家外部测试集
train_data, country_test_data = data_loader.split_data_by_countries(df,test_size= 0.15,random_state=123)
# 划分时间外部测试集
train_data, time_test_data = data_loader.split_data_by_time(train_data)
# 数据检查
data_loader.analyze_datasets(df)
data_loader.analyze_datasets(train_data)
data_loader.analyze_datasets(country_test_data)
data_loader.analyze_datasets(time_test_data)

train_data.to_csv('src/data/train_data.csv',index=False)
country_test_data.to_csv('src/data/country_test_data.csv',index=False)
time_test_data.to_csv('src/data/time_test_data.csv',index=False)

数据集统计信息:
总数据条数: 1982
国家总数: 69
包含的国家: Albania, Algeria, Argentina, Australia, Austria, Bangladesh, Belgium, Bosnia and Herzegovina, Brazil, Bulgaria, Canada, China, Colombia, Congo, Dem. Rep., Croatia, Cyprus, Czechia, Denmark, Egypt, Arab Rep., Estonia, Ethiopia, Finland, France, Germany, Greece, Hungary, Iceland, India, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Italy, Japan, Korea, Rep., Latvia, Lithuania, Luxembourg, Malaysia, Malta, Mexico, Montenegro, Morocco, Netherlands, Nigeria, North Macedonia, Norway, Pakistan, Peru, Philippines, Poland, Portugal, Romania, Russian Federation, Saudi Arabia, Serbia, Slovak Republic, Slovenia, South Africa, Spain, Sweden, Switzerland, Tanzania, Thailand, Turkiye, Uganda, Ukraine, United Kingdom, United States

数据集统计信息:
总数据条数: 1476
国家总数: 59
包含的国家: Albania, Argentina, Australia, Austria, Bangladesh, Belgium, Bosnia and Herzegovina, Bulgaria, Canada, China, Colombia, Congo, Dem. Rep., Croatia, Cyprus, Denmark, Egypt, Arab Rep., Ethiopia, Finland, France, Germany, Greece, Hungary, Iceland, India, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Italy, Japan, Korea, Rep., Latvia, Lithuania, Luxembourg, Malta, Mexico, Montenegro, Morocco, Netherlands, Nigeria, North Macedonia, Norway, Pakistan, Peru, Poland, Portugal, Romania, Russian Federation, Saudi Arabia, Slovak Republic, Spain, Sweden, Tanzania, Thailand, Turkiye, Uganda, Ukraine, United Kingdom, United States

数据集统计信息:
总数据条数: 283
国家总数: 10
包含的国家: Algeria, Brazil, Czechia, Estonia, Malaysia, Philippines, Serbia, Slovenia, South Africa, Switzerland

数据集统计信息:
总数据条数: 223
国家总数: 59
包含的国家: Albania, Argentina, Australia, Austria, Bangladesh, Belgium, Bosnia and Herzegovina, Bulgaria, Canada, China, Colombia, Congo, Dem. Rep., Croatia, Cyprus, Denmark, Egypt, Arab Rep., Ethiopia, Finland, France, Germany, Greece, Hungary, Iceland, India, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Italy, Japan, Korea, Rep., Latvia, Lithuania, Luxembourg, Malta, Mexico, Montenegro, Morocco, Netherlands, Nigeria, North Macedonia, Norway, Pakistan, Peru, Poland, Portugal, Romania, Russian Federation, Saudi Arabia, Slovak Republic, Spain, Sweden, Tanzania, Thailand, Turkiye, Uganda, Ukraine, United Kingdom, United States

## 2. 特征工程

创建时间特征和类别交互特征。

In [ ]:
# 初始化特征工程
feature_engineering = FeatureEngineering()

# 处理训练集特征
train_data_processed, target_column = feature_engineering.fit_transform(
    train_data,
    target_column='MSW',
    categorical_columns=['Region', 'Income Group']
)

# 处理测试集特征
country_test_data_processed, _ = feature_engineering.transform(
    country_test_data,
    target_column='MSW',
)

# 处理测试集特征
time_test_data_processed, _ = feature_engineering.transform(
    time_test_data,
    target_column='MSW'
)

## 3. 模型训练和评估

训练多个模型并评估它们的性能。

In [5]:
# 初始化模型评估器
model_evaluator = ModelEvaluator()

# 设置实验
feature_cols = [col for col in train_data_processed.columns 
               if col not in ['MSW', 'Country Name', 'Year']]

train = train_data_processed[feature_cols]

In [6]:
model_evaluator.setup_experiment(
    train_size = 0.8,
    train_data=train,
    target_column=target_column,
    categorical_features=['Region', 'Income Group'],
)

In [7]:
# 训练模型
models = model_evaluator.train_top_models(n_models=3)

In [8]:
# 准备测试数据
X_test = country_test_data_processed[feature_cols]
y_test = country_test_data_processed[target_column]

# 评估所有模型组合
results_country = model_evaluator.evaluate_ensemble_combinations(X_test, y_test)

In [9]:
# 准备测试数据
X_test = time_test_data_processed[feature_cols]
y_test = time_test_data_processed[target_column]

# 评估所有模型组合
results_time = model_evaluator.evaluate_ensemble_combinations(X_test, y_test)
pd.DataFrame(results_time).T

                                     r2          rmse           mae      mape
model_1                        0.990761  5.524720e+06  2.224323e+06  0.089774
model_2                        0.979138  8.302072e+06  3.821791e+06  0.220962
model_3                        0.966354  1.054317e+07  4.403130e+06  0.502236
model_1_model_2_blend          0.989258  5.957183e+06  2.885850e+06  0.148481
model_1_model_3_blend          0.982204  7.667812e+06  3.183995e+06  0.282141
model_2_model_3_blend          0.976051  8.895145e+06  3.982528e+06  0.323972
model_1_model_2_model_3_blend  0.983755  7.325924e+06  3.315149e+06  0.238342

In [10]:
# 将字典转换为DataFrame后再进行连接
pd.concat([pd.DataFrame(results_country), pd.DataFrame(results_time)]).groupby(level=0).mean().T

                                        mae      mape        r2          rmse
model_1                        3.643182e+06  0.263878  0.901286  6.770290e+06
model_2                        3.632081e+06  0.268583  0.940557  7.043639e+06
model_3                        4.508181e+06  0.482486  0.895152  9.148109e+06
model_1_model_2_blend          3.543357e+06  0.254861  0.926327  6.393310e+06
model_1_model_3_blend          4.004748e+06  0.363445  0.901165  7.752297e+06
model_2_model_3_blend          3.993193e+06  0.351008  0.922205  7.799673e+06
model_1_model_2_model_3_blend  3.824192e+06  0.314683  0.917977  7.214872e+06

In [11]:
model_evaluator.save_selected_models(
    model_names=['model_1','model_2','model_3'],  # 替换为您要保存的模型名称列表
    save_dir='src/models'  # 可自定义保存路径
)

Transformation Pipeline and Model Successfully Saved
模型 model_1 已保存到 src/models\model_1
Transformation Pipeline and Model Successfully Saved
模型 model_2 已保存到 src/models\model_2
Transformation Pipeline and Model Successfully Saved
模型 model_3 已保存到 src/models\model_3