In [1]:
# 导入必要的库
import pandas as pd
import numpy as np
import os
from pycaret.regression import *
import sys
sys.path.append('src')
from data.data_loader import DataLoader
from features.feature_engineering import FeatureEngineering

# 初始化数据加载器
data_loader = DataLoader()
# 加载数据
train_data = pd.read_csv('src/data/train_data.csv')
country_test_data = pd.read_csv('src/data/country_test_data.csv')
time_test_data = pd.read_csv('src/data/time_test_data.csv')

# 数据检查
data_loader.analyze_datasets(train_data)
data_loader.analyze_datasets(country_test_data)
data_loader.analyze_datasets(time_test_data)

数据集统计信息:
总数据条数: 1476
国家总数: 59
包含的国家: Albania, Argentina, Australia, Austria, Bangladesh, Belgium, Bosnia and Herzegovina, Bulgaria, Canada, China, Colombia, Congo, Dem. Rep., Croatia, Cyprus, Denmark, Egypt, Arab Rep., Ethiopia, Finland, France, Germany, Greece, Hungary, Iceland, India, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Italy, Japan, Korea, Rep., Latvia, Lithuania, Luxembourg, Malta, Mexico, Montenegro, Morocco, Netherlands, Nigeria, North Macedonia, Norway, Pakistan, Peru, Poland, Portugal, Romania, Russian Federation, Saudi Arabia, Slovak Republic, Spain, Sweden, Tanzania, Thailand, Turkiye, Uganda, Ukraine, United Kingdom, United States

数据集统计信息:
总数据条数: 283
国家总数: 10
包含的国家: Algeria, Brazil, Czechia, Estonia, Malaysia, Philippines, Serbia, Slovenia, South Africa, Switzerland

数据集统计信息:
总数据条数: 223
国家总数: 59
包含的国家: Albania, Argentina, Australia, Austria, Bangladesh, Belgium, Bosnia and Herzegovina, Bulgaria, Canada, China, Colombia, Congo, Dem. Rep., Croatia, Cyprus, Denmark, Egypt, Arab Rep., Ethiopia, Finland, France, Germany, Greece, Hungary, Iceland, India, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Italy, Japan, Korea, Rep., Latvia, Lithuania, Luxembourg, Malta, Mexico, Montenegro, Morocco, Netherlands, Nigeria, North Macedonia, Norway, Pakistan, Peru, Poland, Portugal, Romania, Russian Federation, Saudi Arabia, Slovak Republic, Spain, Sweden, Tanzania, Thailand, Turkiye, Uganda, Ukraine, United Kingdom, United States

In [ ]:
# 初始化特征工程
feature_engineering = FeatureEngineering()

# 处理训练集特征
train_data_processed, target_column = feature_engineering.fit_transform(
    train_data,
    target_column='MSW',
    categorical_columns=['Region', 'Income Group']
)

# 处理测试集特征
country_test_data_processed, _ = feature_engineering.transform(
    country_test_data,
    target_column='MSW',
)

# 处理测试集特征
time_test_data_processed, _ = feature_engineering.transform(
    time_test_data,
    target_column='MSW'
)

# 设置实验
feature_cols = [col for col in train_data_processed.columns 
               if col not in ['MSW', 'Country Name', 'Year']]

train = train_data_processed[feature_cols]

In [3]:
# 加载之前训练好的模型
models_dir = r"./models"  # 请根据实际模型文件路径调整
model_files = [
    os.path.join(models_dir, "model_1"),
    os.path.join(models_dir, "model_2"),
    os.path.join(models_dir, "model_3")
]

loaded_models = []
for model_file in model_files:
    model = load_model(model_file)
    loaded_models.append(model)
    print(f"已加载模型: {model_file}")

# 使用PyCaret设置实验环境
s = setup(  train_size = 0.8,
            data=train,
            target=target_column,
            categorical_features=['Region', 'Income Group'],
            fold_strategy='timeseries',
            data_split_shuffle = False,
            fold_shuffle = False,
            fold = 5,
            normalize_method = 'minmax',
            normalize = True)
# 模型调优
tuned_models = []
for model in loaded_models:
    tuned_model = tune_model(model, n_iter=50, optimize = 'R2',search_library = 'optuna',
                            early_stopping = 20)
    tuned_models.append(tuned_model)

Transformation Pipeline and Model Successfully Loaded
已加载模型: E:\code\jupyter\固废产生\SW-Prediction\src\models\model_1
Transformation Pipeline and Model Successfully Loaded
已加载模型: E:\code\jupyter\固废产生\SW-Prediction\src\models\model_2
Transformation Pipeline and Model Successfully Loaded
已加载模型: E:\code\jupyter\固废产生\SW-Prediction\src\models\model_3

In [4]:
# 创建模型集成
ensemble_model = blend_models(tuned_models)

# 评估集成模型
evaluate_model(ensemble_model)
final_model = finalize_model(ensemble_model)
predict_model(final_model, data=country_test_data_processed)
predict_model(final_model, data=time_test_data_processed)   

# 保存集成模型
save_model(ensemble_model, os.path.join(models_dir, 'ensemble_model'))

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Population', 'GDP PPP 2017',
                                              'GDP PPP/capita 2017',
                                              'year_trend', 'year_trend_squared',
                                              'year_trend_cubed',
                                              'year_trend_log',
                                              'year_since_2000',
                                              'year_normalized',
                                              'trend_region_Europe & Central '
                                              'Asia',
                                              'trend_region_Latin America & '
                                              'Caribbean',
                                              'trend_region_East Asia & Pacif...
                                              ('Gradient Boosting Regressor',
                                               GradientBoostingRegressor(learning_rate=0.10221336597724516,
                                                                         max_depth=5,
                                                                         max_features=0.5482270285587127,
                                                                         min_impurity_decrease=0.029774899654394945,
                                                                         min_samples_leaf=3,
                                                                         min_samples_split=10,
                                                                         n_estimators=256,
                                                                         random_state=866,
                                                                         subsample=0.7228683290330884)),
                                              ('CatBoost Regressor',
                                               <catboost.core.CatBoostRegressor object at 0x000002419126A310>)],
                                  n_jobs=-1))]),
 './models/ensemble_model.pkl')  # 请根据实际模型文件路径调整